
html{
    height: 100%;
}
body {
    background-color: #2f3035;
    background-image: url(Images/IMG_0905-1440x960.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}



header {
    height: 118px;
    
    text-align: center;
    
   
}
nav {
    
    background-color: rgba(0, 0, 0, 0.338);
    width: 1024px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

}
main {
    
    height: 400px;
    width: 1024px;
    text-align: center;
    
    
}
footer {
    background-color: rgba(21, 22, 20, 0.86);
    height: 100px;
    width: 1024px;
   
   
}
h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    
}
p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 20px
    
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 40px; 
}
.maps {
    padding-bottom: 100px;
}